.App {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 50vw;
	max-width: 720px;
	height: 100%;	
	margin: 0 auto;
	background-color: #1D1D1D;
	font-size: 16px;
}

header {
	color: #75c6e4;
	font-size: 2em;
    background-color: #242424;
    padding: 0.75em 30px;
}

.conversation-wrapper {
	height: 90vh;
    overflow: hidden;
}

.inputs-wrapper {
	min-height: 35px;
	display: flex;
	justify-content: space-between;
	padding: 5px;
}


@media only screen and (max-width: 386px) {
	header {
		font-size: 1.5em;
		padding: 0.75em 20px;
	}
}

@media only screen and (max-width: 440px) {
	.inputs-wrapper {
		flex-direction: column;
	}
} 